{{#partial "content"}}


<form action="/results" method="post">
    <label for="content">Input Cash</label>
    <input id="content" name="content" type="text">

    <button type="submit" class="btn btn-info">Get change</button>
</form>


{{/partial}}



{{> layout.hbs}}